<!DOCTYPE html>
<html lang="zh-CN-HANS">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{title}}</title>
    <style>
        .thm {
            position: absolute;
            left: -9999px;
        }
    </style>
    <link rel="stylesheet" href="./css/style.css">
</head>
